{% extends "../index.html" %}
{% block title %} Email Templates {% endblock %}
{% block content %}

<style>
    .circle-btn {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: blue;
        color: white;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        cursor: pointer;
        position: fixed;
        bottom: 20px;
        right: 20px;
    }

    .circle-btn:hover {
        background-color: darkblue;
    }

</style>


<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Email Templates</h1>
    <p class="mb-4">Manage your email templates here.</p>

<!-- Floating Add Button -->
<a href="{% url 'manage_template_create' %}" class="circle-btn">
    <i class="bi bi-plus-lg text-light"></i>
</a>


   <!-- Template Table -->
   <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Templates</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table" id="dataTable" width="100%" cellspacing="0">
                <thead  class="table-primary">
                    <tr>
                        <th>Subject</th>
                        <th>Body</th>
                        <th>Payload</th>
                        <th>Link</th>
                        <th>Placeholders</th>                                           
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for template in templates %}
                    <tr>
                        <td>{{ template.subject }}</td>
                        <td>{{ template.body }}</td>
                        <td>{{ template.payload }}</td>
                        <td>{{ template.link }}</td>
                        <td>{{ template.placeholders }}</td>

                        <!-- {% for url in template.image_urls %}
                          <img src="{{ url }}" width="100" class="rounded border mb-2">
                        {% endfor %} -->

                        <td>
                            <a href="{% url 'manage_template_edit' template.id %}" class="text-primary edit-btn">
                                <i class="bi bi-pencil-square fs-6"></i>
                            </a> 
                            <!-- Delete -->
                            <button type="button"
                                class="btn text-danger btn-sm delete-btn"
                                data-url="{% url 'manage_template_delete' template.id %}">
                                <i class="bi bi-trash fs-6"></i>
                            </button> 
                            <!-- Toggle -->
                            <form method="post" action="{% url 'manage_toggle_template_active' template.id %}" class="toggle-form d-inline">
                                {% csrf_token %}
                                <button type="button" class="btn btn-sm {% if template.is_active %}text-success{% else %}text-muted{% endif %} toggle-btn" title="Toggle visibility">
                                    {% if template.is_active %}
                                        <i class="bi bi-eye text-primary fs-6"></i>
                                    {% else %}
                                        <i class="bi bi-eye-slash text-danger fs-6"></i>
                                    {% endif %}
                                </button>
                            </form>    
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>

<script>
    document.querySelectorAll('.delete-btn').forEach(button => {
        button.addEventListener('click', function () {
            const formUrl = this.getAttribute('data-url');
            Swal.fire({
                title: 'Are you sure?',
                text: "This will permanently delete the product.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    const form = document.createElement('form');
                    form.method = 'POST';
                    form.action = formUrl;

                    const csrfToken = '{{ csrf_token }}';
                    form.innerHTML = `<input type="hidden" name="csrfmiddlewaretoken" value="${csrfToken}">`;

                    document.body.appendChild(form);
                    form.submit();
                }
            });
        });
        // SweetAlert TOGGLE
        document.querySelectorAll('.toggle-btn').forEach(btn => {
            btn.addEventListener('click', () => {
                Swal.fire({
                    title: 'Are you sure?',
                    text: "Do you want to change this subcategory's visibility?",
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Yes',
                }).then(result => {
                    if (result.isConfirmed) btn.closest('form').submit();
                });
            });
        });
    });

document.addEventListener('DOMContentLoaded', function () {
    {% for message in messages %}
        Swal.fire({
            icon: '{% if message.tags == "success" %}success{% elif message.tags == "error" or message.tags == "danger" %}error{% else %}info{% endif %}',
            title: "Great!",
            text: '{{ message|escapejs }}',
            timer: 3000,
            showConfirmButton: false
        });
    {% endfor %}
});
</script>
{% endblock %}
